/* تنظیمات کلی */
body {
    margin: 0;
    font-family: "Tahoma", sans-serif;
    background: #f3f3f3;
}

/* هدر */
header {
    background: #111;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
}

/* بخش معرفی */
.hero {
    background: linear-gradient(#00000077, #00000077),
        url('https://picsum.photos/1200/500');
    color: white;
    text-align: center;
    padding: 80px 20px;
}

.hero button {
    padding: 10px 20px;
    background: #ff9900;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
}

/* بخش دوره‌ها */
.courses {
    padding: 40px;
    text-align: center;
}

.course-list {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.course {
    background: white;
    width: 250px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px #0002;
}
